// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  width: 550px;
  margin: 10px auto;
  .photo {
    width: 400px;
  }
  img {
    max-width: 100%;
  }
  .display-time {
    float: right;
    margin-top: 12px;
  }
}